*{
    background-color: gray;
    margin: auto; width: 95%; border: 3px;
    padding: 1%;
}
h1{
    border: solid 2px red;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}
h2{
    color: skyblue;
}
p{
    border: dotted 5px black;
    font-style: italic;
}
h3{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: coral;
}
ol{
    border: solid 4px orange;
    color: white;
    font-weight: bold;
    padding: 10px;
}
ul{
    border: solid 4px orange;
    color: white;
    font-weight: bold;
    padding: 10px;
}