*{
    background-color: gray;
}
h1{
    border: solid 2px red;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}
h2{
    color: skyblue;
}
p{
    border: dotted 5px black;
    font-style: italic;
}
h3{
    border: solid 5px blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}